#scroll{
    width:100vw;
    position:fixed;
    top:0px;
    left:0px;
}
#titulo{
    padding:20px;
    text-align: center;
}
.container{
    background-color:white;
    margin-top:20px;
    border-left: 20px;
    border-radius: 20px;
}
footer{
    text-align:center;
    padding:40px;
    color:white;
    background-color:rgb(76, 107, 136);
}
#IdInfo{
    padding:40px;
}
#IdPerfil{
    border-radius:20px;
    width:400px;
    height:400px;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(87, 154, 216);
}